@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* for troubleshooting */
/* * {
    border:1px solid red
} */

/* SITE COLOR VARIABLES */
:root {
  --dark-purple: #28004f;
  --text-light-purple: #7E719B;
  --bg-med-purple: #93649C;
  --bg-light-purple: #D7CCEC;
}

/* FONT */
body, button { font-family: 'Poppins', sans-serif; }
p { font-size: 20px; }

/* 
HEADERS 
*/

/* Titles of Pages */
h1 { font-size: 60px; }

/* Section headers */
h2 { font-size: 40px; }

h1, h2 {
    color: var(--dark-purple);
    font-weight: 700; /* bold */
}

h1, h2, h3, h6 {
    margin: 0.1em;
    line-height: 125%;
}

/* Title subtitles */
h3 {
    color: var(--text-light-purple);
    font-weight: 600;
    font-size: 30px;
}

/* section subheaders/subtitles */
h6 {
    color: var(--text-light-purple);
    font-weight: 700; /* bold */
    font-size: 20px;
}

/* 
REUSED COMPONENTS 
*/

/* purple button (invert colors on hover) */
.purple-button {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    min-width: 260px;
    padding: 20px 40px;
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    border-radius: 50px;
}

.purple-button:hover, .purple-button:hover .purple-btn-link {
    color: var(--dark-purple);
    background-color: white;
}

/* for text inside navlinks inside buttons */
.purple-btn-link {
    color: white;
    text-decoration: none;
}

/* scroll down arrow (button)
.scroll-arrow {
    left: 17%;
    right: 17%;
    width: 24px;
    border: 5px solid var(--dark-purple);
} */

/* header with white background */
.header-white {
    padding-top: 5vh;
    text-align: center;
    min-height: 70vh;
}

.header-white h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.header-white p {
    padding: 0 15vw;
}

.header-arrow-down {
    margin-top: max(50px, calc(55vh - 250px));
}

.links {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/* 
USEFUL ATTRIBUTES 
*/

/* header sections */
.header-background-purple {
    /* figma has images overlaid on top, add those as needed */
    background: var(--bg-light-purple);
}

/* OTHER STYLING */

/* WHAT IS ISLAM */
/* COLUMNS USED EVERYWHERE */
.grid-col { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw 3.5vw;
    padding: 5vh 3.5vw;
    align-items: center;
}

.grid-col img {
    max-width: 100%;
}

.pillars {
    align-items: start;
}

/* 
IH HOME 
*/
/* IH Home header section */
.header-section, .About-Header {
    background: no-repeat top right/cover url('./assets/backgrounds/main-bg.svg') var(--bg-light-purple);
    padding: 350px 0px 130px 75px;
}

/* About IH section */
.about-ih {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 80px 40px 80px;
}

.ih-content {
    order: -1;
}

.ih-description {
    font-size: 25px;
}

.prayer-times {
    font-size: 25px;
    text-align: center;
    color: var(--dark-purple);
}

/* IH History section */
.next-arrow-div {
    text-align: center;
    margin: auto;
    margin-top: 16px;
}

.arrow-down {
    height: 20px;
    margin-top: 16px;
}

.ih-history-title {
    padding-left: 80px;
}

.ih-history-content {
    display: flex;
    gap: 5vw;
    padding: 50px 4vw;
}

.ih-history-title {
    padding-left: 0;
    text-align: center;
}

.column {
    flex: 2;
    white-space: pre-wrap;
}

/* 
Events
*/
.events-head {
    margin: 10vh 0 2vh 3.5vw;
}
.upcoming-event {
    grid-template-columns: 0.75fr 1.25fr;
}

.involved-subhead {
    align-items: start;
    height: 50px;
    position: relative;
    top: -50px;
}

/* IH PROGRAMS */
#programs h2 {
    padding-left: 2.5vw;
}
.programs-list {
    gap: 1vw;
}

.program-card {
    padding: 20px;
    background-color: var(--bg-light-purple);
    height: calc(100% - 40px);
    border-radius: 20px;
}

/*
About Page
*/
.About-Header {
    background: no-repeat top right/cover url('./assets/backgrounds/about-bg.svg') var(--bg-light-purple);
}
.Our-Purpose {
    background: #F9F9F9;
    padding-bottom: 100px;
    padding-top: 40px;
}
.purpose-header {
    text-align: center;
}
.about-container {
    display: flex;
}
.purposes{
    width: 50%;
    margin-left: 100px;
}
.purpose-pictures {
    width: 50%;
}
/*
About Gallery
*/
.gallery-head {
    background: no-repeat top right/cover url('./assets/backgrounds/gallery-bg.svg') var(--bg-light-purple);

}
/*
Homepage
*/
.home-header {
    background: no-repeat right url('./assets/backgrounds/home-bg.svg') var(--bg-light-purple); 
    background-size: auto 100%;
}

.home-header-txt {
    padding: 25vh 0 15vh 80px;
}

.info-text {
    font-size: 24px;
    padding: 15vh 15vw;
    text-align: center;
}

.info-text > p {
    padding-top: 20px;
}

/* pics */
.home-pics-sect{
    background-color: var(--bg-med-purple);
    background-image: url('./assets/backgrounds/carousel-left.svg'), 
                    url('./assets/backgrounds/carousel-right.svg');
    background-position: top left, top right;
    background-repeat: no-repeat; 
    background-size: 12vw;
    display: flex;
    justify-content: center;
    padding: 5vw 0;
}

.picsLeft, .picsRight {
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picsLeft img {
    max-width: 51vw;
}

.picsRight img {
    max-width: 30vw;
}

.homepics {
    margin: 1.2vw 1vw;
    border-radius: 10px;
}

/* 
RESOURCES
*/
.lantern-header {
    background-color: var(--bg-light-purple);
    background-image: url('./assets/backgrounds/lantern-left.svg'),
                    url('./assets/backgrounds/lantern-right.svg'),
                    url('./assets/backgrounds/clouds.svg');
    background-position: top left, top right, center;
    background-repeat: no-repeat;
    background-size: auto 50%, auto 70%, cover;
    padding: 25vh 0vw 28vh 0vw;
    text-align: center;
}

.resources-heading {
    padding-bottom: 7vh;
}

.donate-links {
    gap: 16vw;
}

.contact-header {
    background-color: var(--bg-light-purple);
    background-image: url('./assets/backgrounds/building-doodle.svg'),
                        url('./assets/backgrounds/moon-lantern.svg'),
                        url('./assets/backgrounds/clouds.svg');
    background-position: bottom right, top right, center;
    background-size: auto 40%, auto 60%, cover;
    background-repeat: no-repeat;
    padding: 24vh 7vw 5vh;
}

.contact-heading {
    padding-bottom: 2vh;
    margin: 0vh;
}

h6.mail-address {
    color: var(--dark-purple);
    margin: 0;
}

.question {
    word-wrap: break-word;
    white-space: initial;
}

p.address{
    margin-top: 0vh;
}

/* 
CONTACT
*/
.contact-social-icon {
    width: 40px;
    height: 40px;
}

.contact-social {
   display: flex;
   align-items: center;
}

.contact-social-text {
    padding-left: 2.5vw;
}

.social-media-contact {
    padding-bottom: 4.3vh;
}

/* 
NAVBAR 
*/

/* nav background and spacing */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}

/* logo styling */
.logo img {
    padding: 15px 0px 9px 0;
    height: 76px; 
}

/* The container <div> - needed to position the dropdown content */
.navItem {
    position: relative;
    display: inline-block;
}

/* link buttons */
.navItem a, .donate {
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-purple);
    font-size: 18px;
}

/* Dropdown Button */
.dropbtn {
    padding: 34px 24px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
    border-top: 1px solid white;
}

/* Show the dropdown menu on hover */
.navItem:hover .dropdown-content { display: block; }
.navItem:hover .dropdown-content a { 
    background-color: var(--bg-med-purple); 
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navItem:hover a { color: white; }
.navItem:hover .dropbtn { background-color: var(--dark-purple); }

/* donate button smaller than others */
.donate {
    padding: 7px 20px 10px 20px;
    color: white;
    border-radius: 25px;
    margin-left: 15px;
}

/* navBar shrinks if the screen is too narrow for a full bar, e.g. split screen */
@media screen and (max-width: 1000px) {
    .navItem a, .donate {
        font-size: calc(0.6vw + 12px);
    }
    .dropbtn {
        padding: 37px calc(4.4vw - 20px);
    }
    nav {
        padding: 0px calc(12vw - 60px);
    }
    .logo img {
        height: calc(56px + 2vw); 
    }
    .donate {
        padding: 7px 2vw 10px 2vw;
        margin-left: calc(2vw - 5px);
    }
}

/* hamburger menu */
.hamburger, .hamburger-list{
    display: none;
}

.hamburger-icon {
    padding: 35px 20px;
}

/* sizing and styling */
.logo img { height: 64px; }
nav { height: 94px; }

.hamburger-list {
    position: fixed;
    left: 20vw;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80vw;
    /* min-height: 100vh; */
    background-color: var(--dark-purple);
    z-index: 100;
}
.hamburger-list a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.hamburger-list ul {
    list-style: none;
    margin: 0;
}

.menuX {
    position: relative;
    left: calc(80vw - 20px - 40px);
    top: 35px;
}

/* link padding */
.burger-links { padding: 7vh 12vw; }
.burger-links > li { padding-top: 25px; }
.subpage-cont { padding-top: 5px; }
.subpages { padding-top: 15px; }

.hamburger-arrow {
    height: 16px;
    max-width: 18px;
    float: right;
    margin-top: 6px;
}

/* donate button */
.donate-buffer { height: 140px;}
.mobile-donate {
    background-color: var(--bg-med-purple);
    position: relative;
    top: 40px;
    margin-left: calc(40vw - 80px);
}


/* 
FOOTER 
*/

/* lay out section */
.footer{
    background-color: var(--dark-purple);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 50px 75px 0 75px;
    z-index: 0;
}  

/* text styling */
.footer h4, .footer p {
    color: white;
    margin: 4px;
    font-size: 20px;
}

.footer p { font-size: 16px; }

/* added for spacing (see Footer.js) */
.divider { padding: 10px; }
.footer-text { padding-bottom: 20px; }

/* social media links */
.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-media-icons img {
    height: 30px;
    margin: 10px 8px;
}

/* bottom right watermark */
.made-with-love {
    background-color: var(--bg-med-purple);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 21px;
}


/* MOBILE */
@media screen and (max-width: 600px) {
    /* smaller fonts and button */
    p { font-size: 15px; }
    h1 {font-size: 30px; }
    h2 {font-size: 25px; }
    h3 {font-size: 20px; }
    h6 {font-size: 20px; }

    .purple-button {
        font-size: 16px;
        min-width: 160px;
        padding: 20px 30px;
    }

    /* mobile menu */
    .hamburger { display: block; }
    .navItem, .donate { display: none; }

    /* mobile side spacing */
    .info-text, .grid-col
    { padding: 5vh 9vw; }

    /* column instead of row */
    .home-pics-sect, .ih-history-content, .links
    { flex-direction: column; }
    /* for grid system to columns */
    .grid-col, .about-ih
    { display: block;}
    
    /* other stuff */
    /* homepage pictures lineup */
    .home-pics-sect img { max-width: 80vw; }
    .picsLeft, .picsRight { padding: 0 10vw; }

    /* arrow sizing */
    .arrow-down { height: 15px; }
    
    /* lists of links display vertical, padding */
    .links { padding: 0 10vw; }

    /* changed title spacing */
    .header-section {padding: 185px 0px 40px 30px;}

    /* changed footer spacing */
    .footer{ padding: 50px 5vw 0 5vw; }
    
    .events-head { margin: 2vh 9vw; }
    
    .involved-elmt { padding: 3vh 0;}

    /* 
    IH HOME
    */
    /* ih prayer times table scaling and padding */
    .about-ih { padding: 6vh 0; }
    .ih-content, .ih-history-content, .history-next 
    { padding: 0 9vw; }
    .ih-content {
        margin-top: 50px;
    }
    .ih-content-table {
        height: 55vh;
        padding-bottom: 70px;
    }

    /* 
    HOMEPAGE
    */
    
    .home-header {
        background: no-repeat bottom right url('./assets/backgrounds/home-mobile-bg.svg') var(--bg-light-purple); 
        background-size: contain;
    }

    .home-header-txt {
        padding: 7vh 0 7vh 4vh;
    }

    .info-text > p {
        padding-top: 2px;
    }

    /* 
    RESOURCES
    */
    .lantern-header {
        background-color: var(--bg-light-purple);
        background-image: url('./assets/backgrounds/lantern-left.svg'),
                        url('./assets/backgrounds/lantern-right.svg'),
                        url('./assets/backgrounds/clouds.svg');
        background-position: top left, top right, center;
        background-repeat: no-repeat;
        background-size: auto 25%, auto 30%, cover;
        padding: 10vh 0vw;
        text-align: center;
        align-content: center;
    }

    .resources-heading {
        padding-bottom: 7vh;
    }

    .links {
        gap: 30px;
    }
    /* .resources-restaurants, .resources-delivery {
        margin-left: 5vw;
    } */

    /* 
    CONTACT
    */
    .contact-header {
        background-color: var(--bg-light-purple);
        background-image: url('./assets/backgrounds/moon-lantern.svg'),
                            url('./assets/backgrounds/clouds.svg');
        background-position: top right, center;
        background-size: auto 40%, cover;
        background-repeat: no-repeat;
        padding: 7vh 7vw 5vh;
    }

    .contact-heading {
        padding-bottom: 0vh;
        margin: 0vh;
    }

    h6.mail-address {
        color: var(--dark-purple);
        margin: 0;
    }

    .question {
        word-wrap: break-word;
        white-space: initial;
    }

    p.address{
        margin-top: 0vh;
    }

    /* 
    IH PRAYER TIMES IFRAME SCALING
     */
    #frame { width: 111%; height: 120%; }
    #frame {
        zoom: normal;
        transform: none;
        transform-origin:0;
        -ms-zoom: 0.9;
        -moz-transform: scale(0.9);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.9);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.9);
        -webkit-transform-origin: 0 0;
    }
}