@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* SITE COLOR VARIABLES */
:root {
  --dark-purple: #28004f;
  --text-light-purple: #7E719B;
  --bg-med-purple: #93649C;
  --bg-light-purple: #D7CCEC;
}

/* FONT */
body, button {
    font-family: 'Poppins', sans-serif;
}

/* 
HEADERS 
*/

/* Titles of Pages */
h1 {
    font-size: 60px;
    line-height: 125%; 
}

/* Section headers */
h2 {
    font-size: 40px;
    line-height: 60px;
}

h1, h2 {
    color: var(--dark-purple);
    font-weight: 700; /* bold */
}

h1, h2, h3 {
    margin: 0.1em;
}

/* Title subtitles */
h3 {
    color: var(--text-light-purple);
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

/* section subheaders/subtitles */
h6 {
    color: var(--text-light-purple);
    font-weight: 700; /* bold */
    font-size: 25px;
    line-height: 38px;
    margin: 0.1em;
}

/* 
REUSED COMPONENTS 
*/

/* purple button (invert colors on hover) */
.purple-button {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    min-width: 260px;
    padding: 20px 40px;
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    border-radius: 50px;
}

.purple-button:hover, .purple-button:hover .purple-btn-link {
    color: var(--dark-purple);
    background-color: white;
}

/* for text inside navlinks inside buttons */
.purple-btn-link {
    color: white;
    text-decoration: none;
}

/* scroll down arrow (button)*/
.scroll-arrow {
    left: 17%;
    right: 17%;
    width: 24px;
    border: 5px solid var(--dark-purple);
}

/* 
USEFUL ATTRIBUTES 
*/

/* header sections */
.header-background-purple {
    /* figma has images overlaid on top, add those as needed */
    background: var(--bg-light-purple);
}

/* class for centering */
.centered { text-align: center; }

/* OTHER STYLING */

/* 
IH HOME 
*/
/* IH Home header section */
.header-section {
    background: no-repeat top right/cover url('./assets/main-bg.svg') var(--bg-light-purple);
    height: 731.87px;
}

.islamic-house-title {
    position: relative;
    left: 75px;
    top: 371.59px;
}

.islamic-house-address {
    position: relative;
    left: 75px;
    top: 316.02px;
}

/* About IH section */
.about-ih {
    display: flex;
}

.ih-content {
    width: 718px;
    height: 492px;
    margin-top: 8px;
}

.about-the-ih-subhead {
    position: relative;
    width: 343px;
    height: 60px;
    left: 95px;
    top: 105px;
    color: var(--dark-purple);
    font-weight: 700;
}

.ih-description-first, .ih-description-second {
    position: relative;
    width: 713px;
    left: 95px;
    top: 68px;
    font-weight: 400;
    font-size: 27px;
    display: flex;
    align-items: center;
}

.ih-description-second {
    margin-top: 40.5px;
}

.ih-content-table {
    width: 627px;
    align-content: center;
}

.prayer-times {
    position: relative;
    width: 162px;
    height: 36px;
    left: 418px;
    top: 60px;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    color: var(--dark-purple);
}

.prayer-time-table {
    position: relative;
    width: 368px;
    height: 642px;
    left: 320px;
    top: 26px;
    margin-bottom: 110px;
}

/* IH History section */
.ih-history-title {
    color: var(--dark-purple);
    position: relative;
    left: 95px;
    font-weight: 700;
    line-height: 80px;
    width: 452px;
    height: 60px;
}

.next-arrow-div {
    text-align: center;
    margin: auto;
    margin-top: 16px;
}

.arrow-down {
    position: relative;
    height: 25px;
    top: 16px;
}

.ih-history-content {
    display: flex;
    margin-bottom: 260px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.column-item-one, .column-item-two {
    position: relative;
    width: 624px;
    left: 75px;
    top: 144.28px;
    white-space: pre-wrap;
    font-size: 27px;
}

.column-item-two {
    position: relative;
    width: 622px;
    left: 59px;
    top: 134.28px;
}



/*
Homepage
*/
.home-header {
    background: no-repeat right url('./assets/backgrounds/home-bg.svg') var(--bg-light-purple); 
    background-size: auto 100%;
}
.home-header-txt {
    padding: 20vh 80px;
}

.info-text {
    width: 60vw;
    margin: auto;
    padding: 8vh;
}

/* carousel */
.home-carousel{
    background-color: var(--bg-med-purple);
    background-image: url('./assets/backgrounds/carousel-left.svg'), 
                    url('./assets/backgrounds/carousel-right.svg');
    background-position: top left, top right;
    background-repeat: no-repeat; 
    background-size: 17vw;
}

.slide-container {
    padding: 7vw 0 4vw 0;
    width: 66vw;
    margin: auto;
}
  
/* .each-slide{height: 48vw; width: 66vw;} */
.each-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 48vw; width: 66vw;
    margin: auto;
}

 #left-arrow {
    left: -40px;
}

#right-arrow {
    right: -40px;
}

/* 
NAVBAR 
*/

/* nav background and spacing */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}

/* logo styling */
.logo img {
    padding: 15px 0px;
    height: 76px; 
}

/* The container <div> - needed to position the dropdown content */
.navItem {
    position: relative;
    display: inline-block;
}

/* link buttons */
.navItem a, .donate {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    border: none;
    padding: 37px 24px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
    border-top: 1px solid white;
}

/* Show the dropdown menu on hover */
.navItem:hover .dropdown-content { display: block; }
.navItem:hover .dropdown-content a { 
    background-color: var(--bg-med-purple); 
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navItem:hover a { color: white; }
.navItem:hover .dropbtn { background-color: var(--dark-purple); }

/* donate button smaller than others */
.donate {
    padding: 7px 20px 10px 20px;
    color: white;
    border-radius: 25px;
    margin-left: 15px;
}

/* navBar shrinks if the screen is too narrow for a full bar, e.g. split screen */
@media screen and (max-width: 1000px) {
    .navItem a, .donate {
        font-size: calc(0.6vw + 12px);
    }
    .dropbtn {
        padding: 37px calc(4.4vw - 20px);
    }
    nav {
        padding: 0px calc(12vw - 60px);
    }
    .logo img {
        height: calc(56px + 2vw); 
    }
    .donate {
        padding: 7px 2vw 10px 2vw;
        margin-left: calc(2vw - 5px);
    }
}

/* 
FOOTER 
*/

/* lay out section */
.footer{
    background-color: var(--dark-purple);
    display: flex;
    padding: 50px 75px;
}  

/* text styling */
.footer h4, .footer p {
    color: white;
    margin: 4px;
    font-size: 20px;
}

.footer p { font-size: 16px; }

/* added for spacing (see Footer.js) */
.divider { padding: 10px; }

/* social media links */
.social-media {
    display: block;
    margin-left: auto;
}

.social-media-icons img {
    height: 30px;
    margin: 10px 8px;
}

/* bottom right watermark */
.made-with-love {
    background-color: var(--bg-med-purple);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 21px;
    position: relative;
    top: 50px;
}