@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* SITE COLOR VARIABLES */
:root {
  --dark-purple: #28004f;
  --text-light-purple: #7E719B;
  --bg-med-purple: #93649C;
  --bg-light-purple: #D7CCEC;
}

/* FONT */
body, button {
    font-family: 'Poppins', sans-serif;
}

/* 
HEADERS 
*/

/* Titles of Pages */
h1 {
    font-size: 60px;
    line-height: 125%; 
}

/* Section headers */
h2 {
    font-size: 40px;
    line-height: 60px;
}

h1, h2 {
    color: var(--dark-purple);
    font-weight: 700; /* bold */
}

/* Title subtitles */
h3 {
    color: var(--text-light-purple);
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

/* section subheaders/subtitles */
h6 {
    color: var(--text-light-purple);
    font-weight: 700; /* bold */
    font-size: 25px;
    line-height: 38px;
}

/* 
REUSED COMPONENTS 
*/

/* purple button (invert colors on hover) */
.purple-button {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    min-width: 260px;
    padding: 20px 40px;
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    border-radius: 50px;
}

.purple-button:hover, .purple-button:hover .purple-btn-link {
    color: var(--dark-purple);
    background-color: white;
}

/* for text inside navlinks inside buttons */
.purple-btn-link {
    color: white;
    text-decoration: none;
}

/* scroll down arrow (button)*/
.scroll-arrow {
    left: 17%;
    right: 17%;
    width: 24px;
    border: 5px solid var(--dark-purple);
}

/* 
USEFUL ATTRIBUTES 
*/

/* header sections */
.header-background-purple {
    /* figma has images overlaid on top, add those as needed */
    background: var(--bg-light-purple);
}

/* class for centering */
.centered { text-align: center; }

/* OTHER STYLING */


/*
Homepage
*/
.home-header {
    height: 100vh - 100px;
}
.home-header-txt {
    padding: 20vh 80px;
}

.home-text {
    width: 60vw;
    margin: auto;
    min-height: 50vh;
    padding: 5vh;
}

.home-carousel{
    background-color: var(--bg-med-purple);
}

/* 
NAVBAR 
*/

/* nav background and spacing */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}

/* logo styling */
.logo img {
    padding: 15px 0px;
    height: 76px;
}

/* The container <div> - needed to position the dropdown content */
.navItem {
    position: relative;
    display: inline-block;
}

/* link buttons */
.navItem a, .donate {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    border: none;
    padding: 37px 24px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
    border-top: 1px solid white;
}

/* Show the dropdown menu on hover */
.navItem:hover .dropdown-content { display: block; }
.navItem:hover .dropdown-content a { 
    background-color: var(--bg-med-purple); 
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.navItem:hover a { color: white; }
.navItem:hover .dropbtn { background-color: var(--dark-purple); }

/* donate button smaller than others */
.donate {
    padding: 7px 20px 10px 20px;
    color: white;
    border-radius: 25px;
    margin-left: 15px;
}

/* 
FOOTER 
*/

/* lay out section */
.footer{
    background-color: var(--dark-purple);
    display: flex;
    padding: 50px 75px;
}  

/* text styling */
.footer h4, .footer p {
    color: white;
    margin: 4px;
    font-size: 20px;
}

.footer p { font-size: 16px; }

/* added for spacing (see Footer.js) */
.divider { padding: 10px; }

/* social media links */
.social-media {
    display: block;
    margin-left: auto;
}

.social-media-icons img {
    height: 30px;
    margin: 10px 8px;
}

/* bottom right watermark */
.made-with-love {
    background-color: var(--bg-med-purple);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 21px;
    position: relative;
    top: 50px;
}